kind: PersistentVolume
apiVersion: v1
metadata:
  name: dke-db-volume
spec:
  storageClassName: manual
  capacity:
    storage: 1Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/run/desktop/mnt/host/wsl/data/postgres"